$color-primary: #03440c;
$color-primary-light: #04773b;

$color-secondary: #597081;
$color-secondary-light: #7ea0b7;

$color-dark: #222222;
$color-dark-light: #333333;

$color-white-1: #f2f2f2;
$color-white-2: #e5e5e5;

$color-grey: #999999;
$color-grey-dark: #b2b2b2;
$color-grey-light: #cccccc;
